<app-navbar></app-navbar>
<div class="container-fluid mt-5 mb-5 body">
  <div class="row">
    <div class="col-11 mx-auto">
      <router-outlet></router-outlet>
    </div>
    </div>
</div>
<footer>
        <div class="container">
          <div class="row">
              <div class="col-12 col-sm-8 col-lg-8 caja1">
                  <h2 class="textfooter ">CMC</h2>
                  <p class="textfooter">Aplicacion desarrollada con fines educativos por <strong>Richard
                      Herrera.</strong></p>
              </div>
          </div>
        </div>
    </footer>
